#buttonDeconnexion{
    background-color: rgb(73, 140, 164); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border: 2px solid black;
    position: relative;
    top: -20px;
    left: 450px;
}

.deconnection{
    border: solid;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 70px;
}

#MonEspace{
    margin-top: 100px;
}

#deconnection{
    margin-top: 100px;
}

#buttonAnnuler{
    padding: 10px 10px;
    width: 100px;
    background-color: orange;
    border: 2px black 1px;
    border-radius: 7%;
    cursor: pointer;
}

#buttonAnnuler:hover{
    opacity: 0.5;
 }

 #notificationDeconnection{
     background-color: burlywood;
     color: blue;
 }