#Parking{
   height: 400px;
   width: 700px;
   border: solid;
   display: flex;
   margin-right: auto;
   margin-left: auto;
   margin-top: -15px;
   background-image: url("../img/ParkingIkea.png");
   background-size: 700px;
}

 #formulaire {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   padding-top: 30px;
   border: solid 4px;
   border-color:rgb(73, 140, 164) ;
   background-color: white;
   top: 120px;
   background-color: aliceblue;   
}

#formulaireBack{
   background-color: rgb(119, 148, 174);
   height: 660px;
   box-shadow: 8px 10px 15px 30px rgb(119, 148, 174), 8px 10px 15px 30px rgb(13, 99, 164), 8px 10px 15px 30px rgb(209, 53, 53);
}

input[type=text] {
   border: solid 3px;
   border-color:rgb(196, 195, 195) rgb(73, 140, 164) rgb(73, 140, 164)  rgb(196, 195, 195)  ;
   box-shadow:  0px 10px 10px rgb(73, 140, 164);
   padding: 6px;
}

input[type=tel] {
   border: solid 3px;
   border-color:rgb(196, 195, 195) rgb(73, 140, 164) rgb(73, 140, 164)  rgb(196, 195, 195)  ;
   box-shadow:  0px 10px 10px rgb(73, 140, 164);
   padding: 6px;
}

input[type=date] {
   border: solid 3px;
   border-color: rgb(73, 140, 164);
   padding: 6px;
   border-radius: 10px;
}

input[type=time] {
   border: solid 3px;
   border-color: rgb(73, 140, 164);
   padding: 6px;
   border-radius: 10px;
}

.formulaire2{
   position: relative;
   left: 0;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 36px;
   border: solid black 2px;
   padding: 20px;
   margin-top: 5px;
   margin-bottom: 45px;
   justify-content: center;
}

#date{
   padding-right: 15px;
   font-weight: bold;
}

#arrivee{
   padding-left: 15px;
   padding-right: 15px;
   font-weight: bold;
}

#sortie{
   padding-left: 15px;
   padding-right: 15px;
   font-weight: bold;
}

#btnForm{
   margin-left: 15px;
}


body{
   height: 1100px;
}

#BouttonVersFormulaire:hover{
   cursor: pointer;
}

#BouttonVersFormulaire2:hover{
   cursor: pointer;
}

#buttonRetour:hover{
   cursor: pointer;
 }

#BouttonVersFormulaire{
   transition-duration: 3s;
   text-align: center;
   border: solid black 2px;
}

#BouttonVersFormulaire2 {
   transition-duration: 3s;
   position: relative;
   top: 65px;
   margin-left: 20px;
   text-decoration: none;
   padding: 10px 10px;
   width: 100px;
   background-color: rgb(73, 140, 164);
   text-align: center;
   border: solid black 2px;
}

.condition{
   text-align: center;
   justify-content: center;
   position: relative;
   top: 460px;
   border-left: double 20px rgb(188, 184, 184);
   border-right: double 20px rgb(188, 184, 184);
}

#titreCondition{
   font-size:45px;
}

#ConditionDeReservation{
   margin-top: 40px;
}



a{
   text-decoration: none;
   color: black;
}
/* 
#BouttonVersFormulaire:hover {
   opacity: 0.8;
 } */

/* .AddButton{
   width: 25px;
   height: 25px;
   display: flex;
   flex-direction: column;
   position: relative;
   top: 16px;
   left: 37px;
   margin-top: 29px;
} */

/* .AddButton2{
   width: 25px;
   height: 25px;
   display: flex;
   flex-direction: column;
   position: relative;
   top: 36px;
   left: 37px;
   margin-top: 29px;
}

.AddButton3{
   width: 25px;
   height: 25px;
   display: flex;
   flex-direction: column;
   position: relative;
   top: 36px;
   margin-top: 29px;
   left: 57px;
} */

/* #buttonRetour{
   padding: 10px 10px;
   width: 100px;
   margin-top: 10px;
   background-color: orange;
   border: 2px black 1px;
}

#buttonRetour:hover{
   opacity: 0.8;
} */

.A1{
   position: relative;
   top: 48px;
   left: 40px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.A2{
   position: relative;
   top: 100px;
   left: 10px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.A3{
   position: relative;
   top: 150px;
   left: -23px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.A4{
   position: relative;
   top: 230px;
   left: -58px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.A5{
   position: relative;
   top: 285px;
   left: -90px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.A6{
   position: relative;
   top: 340px;
   left: -125px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.B1{
   position: relative;
   top: 49px;
   left: -25px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.B2{
   position: relative;
   top: 98px;
   left: -55px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.B3{
   position: relative;
   top: 151px;
   left: -87px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.B4{
   position: relative;
   top: 230px;
   left: -123px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.B5{
   position: relative;
   top: 286px;
   left: -155px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.B6{
   position: relative;
   top: 340px;
   left: -190px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.C1{
   position: relative;
   top: 49px;
   left: -100px;
   width: 25px;
   height: 25px;  
   cursor: pointer;
}

.C2{
   position: relative;
   top: 98px;
   left: -130px;
   width: 25px;
   height: 25px; 
   cursor: pointer; 
}

.C3{
   position: relative;
   top: 151px;
   left: -160px;
   width: 25px;
   height: 25px; 
   cursor: pointer; 
}

.C4{
   position: relative;
   top: 230px;
   left: -195px;
   width: 25px;
   height: 25px;  
   cursor: pointer;
}

.C5{
   position: relative;
   top: 287px;
   left: -230px;
   width: 25px;
   height: 25px;  
   cursor: pointer;
}

.C6{
   position: relative;
   top: 342px;
   left: -262px;
   width: 25px;
   height: 25px;  
   cursor: pointer;
}

.D1{
   position: relative;
   top: 49px;
   left: -70px;
   width: 25px;
   height: 25px;  
   cursor: pointer;
}

.D2{
   position: relative;
   top: 100px;
   left: -100px;
   width: 25px;
   height: 25px;
   cursor: pointer;  
}

.D3{
   position: relative;
   top: 151px;
   left: -130px;
   width: 25px;
   height: 25px;  
   cursor: pointer;
}

.D4{
   position: relative;
   top: 200px;
   left: 507px;
   width: 25px;
   height: 25px; 
   cursor: pointer; 
}

.D5{
   position: relative;
   top: 255px;
   left: 475px;
   width: 25px;
   height: 25px;  
   cursor: pointer;
}

.D6{
   position: relative;
   top: 310px;
   left: 440px;
   width: 25px;
   height: 25px;  
   cursor: pointer;
}

.E1{
   position: relative;
   top: 18px;
   left: 535px;
   width: 25px;
   height: 25px; 
   cursor: pointer;
}

.E2{
   position: relative;
   top: 67px;
   left: 505px;
   width: 25px;
   height: 25px; 
   cursor: pointer;
}

.E3{
   position: relative;
   top: 120px;
   left: 470px;
   width: 25px;
   height: 25px;
   cursor: pointer; 
}

.E4{
   position: relative;
   top: 200px;
   left: 437px;
   width: 25px;
   height: 25px; 
   cursor: pointer;
}

.E5{
   position: relative;
   top: 255px;
   left: 405px;
   width: 25px;
   height: 25px; 
   cursor: pointer;
}

.E6{
   position: relative;
   top: 310px;
   left: 370px;
   width: 25px;
   height: 25px;
   cursor: pointer; 
}

#textParking{
   margin-top: -5px;
  position: absolute;
  left: 540px;
}

@media (max-width: 700px) {

   #Parking{
      height: 350px;
      width: 600px;
      background-image: url("../img/ParkingIkea.png");
      background-size: 610px;
   }

   input[type=date] {
      border: solid 3px;
      border-color: rgb(73, 140, 164);
      padding: 6px;
      border-radius: 10px;
      width: 175px;
   }
   
   input[type=time] {
      border: solid 3px;
      border-color: rgb(73, 140, 164);
      padding: 6px;
      border-radius: 10px;
      width: 130px;
         }

   #BouttonVersFormulaire{
      transition-duration: 3s;
   position: relative;
   top: 255px;
   right: 755px;
   text-decoration: none;
   padding: 10px 10px;
   width: 100px;
   background-color: rgb(73, 140, 164);
   text-align: center;
   border: solid black 2px;
}

   .condition{
      margin-top: 50px;
}

   #date{
      max-lines: 1;
      padding-right: 15px;
      font-weight: bold;
      font-size: 17px;
   }

   #textParking {
      margin-top: -5px;
      position: relative;
      left: 240px;
   }

   #buttonRetour{
      padding: 10px 10px;
      width: 100px;
      position: relative;
      top: -65px;
      background-color: orange;
      border: 2px black 1px;
   }

   #formulaire {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      right: 312px;
      padding-top: 30px;
      border: solid 4px;
      border-color:rgb(73, 140, 164) ;
      background-color: white;
      top: 120px;
      background-color: aliceblue;   
   }

   .A1{
      position: relative;
      width: 25px;
      top: 40px;
      left: 34px;
      height: 25px;
      cursor: pointer;
      
   }
   
   .A2{
      position: relative; 
      top: 84px;
      left: 3px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .A3{
      position: relative;
    top: 130px;
    margin-left: 0px;
      left: -23px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .A4{
      position: relative;
    top: 199px;
      left: -58px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .A5{
      position: relative;      
      top: 247px;
      left: -90px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .A6{
      position: relative;
      top: 294px;
      left: -125px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .B1{
      position: relative;
      top: 40px;
      left: -45px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .B2{
      position: relative;
      top: 85px;
      left: -75px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .B3{
      position: relative;
      top: 130px;
      left: -108px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .B4{
      position: relative;
      top: 200px;
      left: -145px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .B5{
      position: relative;
      top: 250px;
      left: -175px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .B6{
      position: relative;
      top: 295px;
      left: -210px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .C1{
      position: relative;
      top: 40px;
      left: -130px;
      width: 25px;
      height: 25px;  
      cursor: pointer;
   }
   
   .C2{
      position: relative;
      top: 85px;
      left: -165px;
      width: 25px;
      height: 25px; 
      cursor: pointer; 
   }
   
   .C3{
      position: relative;
      top: 130px;
      left: -195px;
      width: 25px;
      height: 25px; 
      cursor: pointer; 
   }
   
   .C4{
      position: relative;
      margin-top: 0px;
      top: 199px;
      left: -230px;
      width: 25px;
      height: 25px;  
      cursor: pointer;
   }
   
   .C5{
      position: relative;
      top: 245px;
      left: -260px;
      width: 25px;
      height: 25px;  
      cursor: pointer;
   }
   
   .C6{
      position: relative;
      top: 295px;
      left: -295px;
      width: 25px;
      height: 25px;  
      cursor: pointer;
   }
   
   .D1{
      position: relative;
      top: 9px;
      left: 442px;
      width: 25px;
      height: 25px;  
      cursor: pointer;
   }
   
   .D2{
      position: relative;
      top: 53px;
      left: 410px;
      width: 25px;
      height: 25px;
      cursor: pointer;  
   }
   
   .D3{
      position: relative;
      top: 98px;
      left: 377px;
      width: 25px;
      height: 25px;  
      cursor: pointer;
   }
   
   .D4{
      position: relative;
      top: 167px;
      left: 343px;
      width: 25px;
      height: 25px; 
      cursor: pointer; 
   }
   
   .D5{
      position: relative;
      top: 216px;
      left: 310px;
      width: 25px;
      height: 25px;  
      cursor: pointer;
   }
   
   .D6{
      position: relative;
      top: 264px;
      left: 276px;
      width: 25px;
      height: 25px;  
      cursor: pointer;
   }
   
   .E1{
      position: relative;
      top: 10px;
      left: 360px;
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .E2{
      position: relative;
      top: 55px;
      left: 325px;
      width: 25px;
      height: 25px; 
      cursor: pointer;
   }
   
   .E3{
      position: relative;
      top: 100px;
      left: 293px;
      width: 25px;
      height: 25px;
      cursor: pointer; 
   }
   
   .E4{
      position: relative;
      top: 170px;
      left: 258px;
      width: 25px;
      height: 25px; 
      cursor: pointer;
   }
   
   .E5{
      position: relative;
      top: 217px;
      left: 225px;
      width: 25px;
      height: 25px; 
      cursor: pointer;
   }
   
   .E6{
      position: relative;
      top: 265px;
      left: 193px;
      width: 25px;
      height: 25px;
      cursor: pointer; 
   }
   
}



